$font-default: 'Chakra Petch', sans-serif;
$color-default: #fff;
$background_shine: #fff4fd;
$gradient_color: linear-gradient(-90deg,#F7C9F3 ,#4180F6 );
$background_searchbar:  #fff;



/*Border outset black */
$border_bar: black;
$background_bar: #4180F6;
$outset_bar: ridge;
$width_bar: 1px;
$sugestionesbar: #E6BBE2;
$border_gif:#B4B4B4;


/*Botones*/

$button_colorpink: #F7C9F3;
$font-color: #110038 ;
$button_fontsize: 16px;
$button_backgroundcolor: #E6E6E6;
$button_hoover: #e6bbe2;
$button_pink:#FFF4FD;

/* letras blancas interiores */
$color-default: #fff;
$font_size_bar: 18px;
$font_size_hashtag: 14px;
$font-default: 'Chakra Petch', sans-serif;


/* letra barra de busqueda */
$search_fontsize: 16px;
$search_color: #B4B4B4;
$bar_sailor: #808080;

/* margin left 5 vw*/


/* font dize*/
$font_crear1: 16px;
$font_crear2: 14px;
$vermassize:14px;




/*dark*/

$background_dark: #110038;
$gradient_color_dark: linear-gradient(-90deg,#CC3CFD ,#2E32FB );

$button_normal_dark: #EE3EFE;
$button_active_dark: #CE36DB;
$button_font_disable: #AEAEAE;

$barra_sailor: #B4B4B4;
$barra_sailor_button:#CCCCCC;
$barra_button_night: #2E32FB;

$font-color-dark:white;


